body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Data 70', sans-serif;
    background-image: url("../img/field/microchip.jpg");
}

h1 {
    font-size: 90pt;
    color: greenyellow;
}

h2 {
    font-size: 70pt;
}