body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    background-image: url("../img/field/microchip.jpg");
}

h1 {
    font-size: 72pt;
    color: greenyellow;
}